.splash-container {
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 140px;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 24px;
    color: #333;
  }
}